<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
 <link rel="stylesheet" href="/login.css" type="text/css">
</head>
<body>
  <section>
    <h1>Login</h1>
    <div class="login-form">
      <h4>Username</h4>
      <div class="username-input">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Type your username">
      </div>
      <h4>Password</h4>
      <div class="password-input">
        <i class="fas fa-lock"></i>
        <input type="text" placeholder="Type your password">
      </div>
      <p>Forgot password?</p>
    </div>
    <button class="login-btn">
      LOGIN
    </button>
    <div class="alternative-signup">
      <p>Not a member? <span>Sign-up</span></p>
    </div>
  </section>
</body>
</html>